<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">LBP</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/">Home</a>                
        <div class="nav-item dropdown">
            <a 
                class="nav-link dropdown-toggle" 
                href="#"
                id="navbarDropdown" 
                role="button" 
                data-toggle="dropdown">
                Cities
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/products/cities/paris">Paris</a>
                <a class="dropdown-item" href="/products/cities/lyon">Lyon</a>
                <a class="dropdown-item" href="/products/cities/marseille">Marseille</a>
            </div>
        </div> <!-- /.nav-item dropdown-->        
        {{#if isAuthenticated}}
            <a class="nav-item nav-link" href="/admin">Admin</a>
            <a class="nav-item nav-link" href="/profile">Profile</a>
            <a class="nav-item nav-link" href="/logout">Log out</a>        
        {{else}}                    
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/signup">Signup</a>        
        {{/if}}
    </div>
</nav>