<h1>Add product</h1>

<form action="/product/add" enctype="multipart/form-data" method="POST">
  <input type="text" name="name" />
  <input type="text" name="price" />
  <input type="text" name="city" />
  <input type="text" name="description" />

  <input type="file" name="pic1" />
  <input type="file" name="pic2" />
  <input type="file" name="pic3" />

  <button type="submit">Send</button>
</form>