{{> header}}
<div class="container">
    <div class="row">
        <div class="col-12 add-product">
            <h1 class="add-product-title">Add product</h1>
            <form action="/admin/products/add" method="POST" enctype="multipart/form-data" class="col-lg-7">
                {{!-- créer le formulaire --}}
                <div class="form-group">
                    <label for="addProductName">Name</label>
                    <input
                        class="form-control"                        
                        placeholder="Enter name" 
                        name="name" 
                        id="addProductName"
                    />
                </div>
                <div class="form-group">
                    <label for="addProductPrice">Price</label>
                    <input
                        class="form-control"                         
                        placeholder="Price" 
                        name="price" 
                        id="addProductPrice"
                    />
                </div>                
                <div class="form-group">
                    <label for="addProductCity">City</label>
                    <input
                        class="form-control"                         
                        placeholder="City" 
                        name="city" 
                        id="addProductCity"
                    />
                </div>
                <div class="form-group">
                    <label for="addProductDescription">Description</label>
                    <textarea
                        class="form-control"                                                 
                        name="description" 
                        id="addProductDescription"
                        rows="5"
                        cols="33"
                    ></textarea>
                </div>
                <div class="form-group">
                    <input type="file" id="avatar1" name="photos" class="form-control-file" />
                    <input type="file" id="avatar2" name="photos" class="form-control-file" />
                    <input type="file" id="avatar3" name="photos" class="form-control-file" />
                </div>

                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
        </div>
    </div>
</div>