{{> header }}
<h1 class="home-title">Le Bon Plan</h1>

<ul class="home-cities-list">
    <li><a href="/products/cities/paris">Paris</a></li>
    <li><a href="/products/cities/lyon">Lyon</a></li>
    <li><a href="/products/cities/marseille">Marseille</a></li>
</ul>